* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header .description {
  margin-top: 15px;
  max-width: 350px;
  color: #8e8e8e;
  font-size: 0.875rem;
}

.game-status {
  background-color: #0ea051;
  margin-block: 30px;
  text-align: center;
  border-radius: 4px;
  padding: 8px;
}

.game-status h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.game-status p {
  margin-top: 3px;
}

.language-chips {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.language-chips .chip {
  border-radius: 3px;
  padding: 4px;
}

.word-display {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 2px;
}

.word-display span {
  background-color: #2a2a2a;
  font-size: 1.125rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f9f4da;
}

.keyboard {
  max-width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 5px;
}

button {
  border: 1px solid #d7d7d7;
  cursor: pointer;
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
}

.keyboard button {
  background-color: #dd9b1b;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.new-game {
  font-size: 1.125rem;
  background-color: #0e8cb6;
  display: block;
  margin-inline: auto;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  padding: 10px 50px;
  margin-top: 30px;
}
